.game-container {
  border: 2px solid rgba(223, 82, 81, 0.75);
  border-radius: 15pt;
  padding: 0px;
  overflow: hidden;
}

.bignumber-red {
  font-size: 5rem;
  font-weight: 200;
  color: rgb(223, 82, 81) !important;
  margin-bottom: 1rem;
}
