.menubox {
  background: rgba(0, 0, 0, 0.8);
  background-image: radial-gradient(
    ellipse at 50px 10px,
    rgba(100, 100, 100, 0.1) 0%,
    rgba(100, 100, 100, 0.1) 1%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border: 2px solid rgb(223, 82, 81, 0.75);
  border-radius: 15pt;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.nav-item {
  color: #fff;
  font-size: 2rem;
  padding: 15px;
}
.nav-item:hover {
  cursor: pointer;
  color: rgb(223, 82, 81);
}

.navbreak {
  width: 60%;
  border: 1px solid rgb(72, 31, 119);
}

.selected {
  color: rgb(223, 82, 81, 0.75);
  font-size: 35px;
}
