.nft_details {
  padding-top: 40px;
}

.card-container-lg {
  background: rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(
    ellipse at 50px 10px,
    rgba(100, 100, 100, 0.1) 0%,
    rgba(100, 100, 100, 0.1) 1%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border: 1px solid rgb(150, 150, 150, 0.2);
  border-radius: 20px;
  height: 450px;
  margin: 15px;
  overflow: hidden;
  position: relative;
}
