.start {
  width: 100%;
  height: 100%;
}

.starttext {
  font-size: 40px;
  position: absolute;
  top: 80%;
  width: 100%;
  left: 0px;
  text-align: center;
  color: rgb(223, 82, 81);
}
.starttext:hover {
  text-decoration: underline;
  cursor: pointer;
}

.startimage,
.startimage:hover {
  width: 100%;
  height: auto;
  border: 2px solid rgb(223, 82, 81, 0.75);
  box-shadow: 1rem 1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 15pt;
  cursor: pointer;
}
