.loader {
  border: 5px solid rgb(72, 31, 119);
  border-top: 5px solid rgb(223, 82, 81);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
