.externalSiteFrame {
  background: #000;
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: 600px;
}

.externalSiteChild {
  border: 2px solid rgba(223, 82, 81, 0.75);
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
