html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  color: white;
  font-family: "Rajdhani", "Raleway", sans-serif !important;
  background-color: rgba(34, 0, 49);
  background-image: linear-gradient(
      to bottom,
      rgba(9, 0, 59, 0.6),
      rgba(34, 0, 30, 0.55)
    ),
    url("images/bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  cursor: url("./images/cursor.png"), auto;
  height: 100%;
  padding-bottom: 7rem;
  overflow-y: auto;
  overflow-x: hidden;
}

:focus {
  outline: 0 !important;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.textred {
  color: rgb(223, 82, 81);
}

.textwhite {
  color: white;
}

.textpurple {
  color: rgb(72, 31, 119);
}

.textpurple2 {
  color: rgb(148, 115, 187);
}

.textlarge {
  font-size: 20px;
}

.textbold {
  font-weight: 600;
}

.textspaced {
  word-spacing: 10px;
  letter-spacing: 2px;
}

.openlink,
.openlink:hover {
  color: rgb(223, 82, 81);
  text-decoration: none;
}

.breakyellow {
  color: white;
  border: 1px solid rgb(255, 255, 255);
  width: 90%;
  padding: 0px;
  margin: 0px;
}

.menuButton,
.menuButton:hover {
  color: white;
  font-size: 20px;
  font-weight: 600;
  height: 50px;
  width: 200px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgb(72, 31, 119);
  text-align: center;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
}

.pagebox {
  background: rgba(0, 0, 0, 0.8);
  background-image: radial-gradient(
    ellipse at 50px 10px,
    rgba(100, 100, 100, 0.1) 0%,
    rgba(100, 100, 100, 0.1) 1%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border: 2px solid rgba(223, 82, 81, 0.75);
  border-radius: 15pt;
  padding: 20px;
  min-height: 500px;
  height: auto;
}

.bomberescort {
  font-family: "BomberEscort";
}

.bomberescortfill {
  font-family: "BomberEscortFill";
}

.blink_me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.4;
  }
}

.blink_me_slow {
  animation: blinkerslow 1.5s linear infinite;
}
@keyframes blinkerslow {
  50% {
    opacity: 0.4;
  }
}
